<h1>Should I take an umbrella?</h1>

<div>
  <dl>
    <dt>User's Location</dt>
    <dd><%= @user_location %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Latitude</dt>
    <dd><%= @latitude %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Longitude</dt>
    <dd><%= @longitude %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Current Temperature</dt>
    <dd><%= @temp %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Current Summary</dt>
    <dd><%= @summary %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Umbrella?</dt>
    <dd>
     You might want to take an umbrella!
    </dd>
  </dl>
</div>

<a href="/umbrella">Go back</a>
